
.nav .listnav   {
    display: grid;
    grid-auto-flow: column dense;
     align-content: center;
  }
  
  .nav  .listnav .list {
    cursor: pointer;
    --c: #311b92;
    color: white;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 15em;
    height: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0.5em;
  }
  
  .nav .listnav .list .s  {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  
  .nav .listnav .list:hover {
    color: rgb(255, 255, 255);
  }
  
  .nav .listnav .list:hover .s {
    transform: translateY(0) scale(2);
  }
  
  .nav .listnav .list .s:nth-child(1) {
    --n: 1;
  }
  
  .nav .listnav .list  .s:nth-child(2) {
    --n: 2;
  }
  
  .nav  .listnav .list .s:nth-child(3) {
    --n: 3;
  }
  
  .nav .listnav .list .s:nth-child(4) {
    --n: 4;
  }
  